.grid {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    grid-template-rows: repeat(1, 60px);
    grid-gap: 10px;
  }
  .box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
  }